In [1]:
SHOW DATABASES;

Database
information_schema
innodb
main_db
mysql
performance_schema
test_db_001

SQL commands can be complex, But the basic logic is still pretty much the same
[VERB] [data-objects] [directional-keyword] [data-source]

In [2]:
--First we will start by listing the tables in the database we are interested in
SHOW TABLES IN test_db_001;

Tables_in_test_db_001
test_tbl_001
test_tbl_002

In [3]:
--If you aren't sure what they table looks like, you can find out a couple of ways

DESCRIBE test_db_001.test_tbl_001;
SELECT * FROM test_db_001.test_tbl_001 limit 1;

In [4]:
--Now that you have a feel for how the tables are organized, you can pick out specific columns.
--**NOTE the more rows and columns you request the more effort it takes to retreive them

SELECT id,d1 FROM test_db_001.test_tbl_001;
SELECT id,d2 FROM test_db_001.test_tbl_001;

id,d1
0,This is row 0
1,This is row 1
2,This is row 2
3,This is row 3
id,d2
0,We start with 0 in programming
1,Eventhough its actually the second
2,Eventhough its actually the third
3,Eventhough its actually the fourth

In [5]:
--Let's assume that we want to return a specific row. We can do that very easily.
SELECT * FROM test_db_001.test_tbl_001 WHERE id=1;

id,d1,d2
1,This is row 1,Eventhough its actually the second

In [6]:
--You can filter for multiple rows based on logical conditions
SELECT * FROM test_db_001.test_tbl_001 WHERE id>1;

id,d1,d2
2,This is row 2,Eventhough its actually the third
3,This is row 3,Eventhough its actually the fourth